a:link, a:visted {
  color: #000000
}

a:hover {
  color: #FF00FF
}

.font-palatino {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.wrap {
  width: 940px;
  margin: auto;
  padding-top: 60px;
  padding-bottom:60px;
  background-color: #fff;
}

/* home */

.header-bg {
  width: 940px;
  height: 71px;
  background:url(../img/header-940.jpg);
}

.bird-bg {
  width: 569px;
  height:483px;
  margin-top:60px;
  margin-bottom:100px;
  background:url(../img/bird.jpg);
}

/* home menu */

ul.menu {
  list-style-type: none;
  margin-top:20px;
}

.menu li {
  font-size: 16px;
  margin-left: 20px;
  line-height: 34px;
  text-transform: uppercase;
}

/* footer */

hr {
  height: 2px;
  background-color: #000;
  border: 0;
}

.contact {
  margin-left:40px;
  font-size: 14px;
  font-weight:bold;
}

.copyright {
  font-weight:bold;
}

/* gallery */

.gallery-row {
  margin: 40px 0;
}

/* modal */

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.modal-box {
  position:fixed;
  z-index:5001;
  width:1050px;
  height: 720px;
}

.modal-overlay {
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  z-index: 5000;
}

.arrow {
  display: inline-block;
  width: 50px;
  height: 45px;
}

.next {
  background:url(../img/next.png);
}

.previous {
  background:url(../img/prev.png);
}

/* modal loader */

#loader {
  background: url(../img/loading_banana.gif);
  width: 75px;
  height: 74px;
  margin: auto;
  display:block;
  background-color:#fff;
}
