[role="container"] {
  width: 940px;
  margin: auto;
}

header {
  padding-top: 60px;
}

 h2 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

a:link, a:visited {
  color: #000000
}

a:hover {
  color: #FF00FF
}

.font-palatino {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

/* header */

.header-bg {
  background: url(../img/header-940.jpg);
  width: 940px;
  height: 56px;
}

.quote {
  text-transform: uppercase;
  font-style: italic;
  font-size: 14px;
  text-align: right;
}

/* home */

.bird-bg {
  height:483px;
  margin-top: 60px;
  text-align: right;
  background: url(../img/bird.jpg) no-repeat right;
}

/* home menu */

ul.menu {
  list-style-type: none;
  margin-top:20px;
}

ul.menu li {
  font-size: 16px;
  margin-left: 20px;
  line-height: 34px;
  text-transform: uppercase;
}

/* sub menu */

.menu-row {
  margin-top: 10px;
}

ul.sub-menu {
  margin-left: 60px;
  list-style: none;
  padding: 0;
}

ul.sub-menu li {
  display: inline-block;
  margin-left:  18px;
  font-size: 16px;
  text-transform: uppercase;
}

ul.sub-menu li.selected {
  text-decoration: underline;
}

/* footer */

hr {
  height: 2px;
  background-color: #000;
  border: 0;
}

.contact {
  margin-left: 20px;
  font-size: 14px;
  font-weight:bold;
}

.copyright {
  font-weight: bold;
  text-align: right;
}

/* gallery */

.gallery-title {
  margin-bottom: 20px;
}

.gallery-row {
  margin: 50px 0;
}

.gallery-photo {
  margin: auto;
  display: block;
}

/* modal */

.modal-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.modal-box {
  position:fixed;
  z-index:5001;
  width:1050px;
  height: 720px;
}

.modal-overlay {
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  z-index: 5000;
}

.arrow {
  display: inline-block;
  width: 50px;
  height: 45px;
}

.next {
  background:url(../img/next.png);
}

.previous {
  background:url(../img/prev.png);
}

/* modal loader */

#loader {
  background: url(../img/loading_banana.gif);
  width: 75px;
  height: 74px;
  margin: auto;
  display:block;
  background-color:#fff;
}

/* about */

.about {
  margin: 50px;
  padding: 30px;
  background-color: #e6e6e6;
}

.about p {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.about ul {
  list-style: none;
  padding-left: 10px;
  font-size: 16px;
  line-height: 30px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.fancy-corner {
  background-image: url(../img/fancy-corner.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.carly-photo {
  margin-bottom: 20px;
}

.hello-world {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 100px;
}

.about-photo {
  display: block;
  margin: auto;

}
.about-photo-baby {
  width: 262px;
  height: 331px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.about-photo-baby-text {
  margin-top: 64px;
}

.about-photo-wedding {
  width: 300px;
  height: 374px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.about-photo-working {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about .about-caption {
  text-align: center;
  font-style: italic;
  font-size: 14px;
}

/* contact */

.row-contact-title {
  margin-top: 25px;
}

.row-contact {
  padding-left: 20px;
  padding-right: 10px;
}

.row-contact p {
  font-size: 16px;
  line-height: 30px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.row-portrait {
  padding-top: 10px;
  padding-bottom: 20px;
}

.row-portrait p {
  font-size: 16px;
  line-height: 30px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.contact-portrait {
  width: 120px;
  height: 156px;
}

.row-contact-info {
  min-height:483px;
  background: url(../img/bird-light.jpg) no-repeat top right;
}

/* mobile */

@media only screen and (min-width : 569px) {
  .desktop-hidden {
    display: none;
  }
}

@media only screen and (max-width : 568px) {
  .mobile-hidden {
    display: none;
  }

  [role="container"] {
    width: 100%;
    margin: auto;
    padding: 0;
    margin: 0;
  }

  header {
    padding-top: 20px;
  }

  .header-bg {
    background: url(../img/header-297.jpg);
    background-size: 297px 35px;
    width: 297px;
    height: 35px;
    margin: auto;
  }

  .bird-bg {
    background:url(../img/bird-233.jpg) no-repeat right;
    width: 320px;
    height: 281px;
    margin: 0;
    padding: 0;
  }

  .quote {
    width: 320px;
    font-size: 12px;
    padding-right: 20px;
    margin: auto;
  }

  .contact {
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
  }

  .copyright {
    font-size: 12px;
    margin-right: 5px;
  }

}

/* iphone portrait  */

@media only screen and (max-width : 320px) {

}

/* iphone landscape */

@media only screen and (min-width : 321px) and (max-width : 568px) {

}
